body{
  background-color: blanchedalmond;
}

h1{
  color: orange;
  text-align: center;
}

strong{
  color: blue;
  text-decoration: underline;
}

em{
  color: red;
  font-style: italic;
}

.more-text{
  color: grey;
}

p {
  font-size: 18px;
}

#final-paragraph {
  text-decoration: underline;
}